.bodyBOxLeft{
    background: white;
    height: 500px;
    
    border: 1px solid #007bef;
    text-align: center;
    color: #007bff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-decoration: none;
    
}


.carousel-item
{
    max-height: 500px;
}


@media (max-width: 1200px){
.carousel-item {
height: 385px;
min-height: 385px;
line-height: 385px;
}
}

@media (max-width: 767px){
.carousel-item {
height: 308px;
min-height: 308px;
line-height: 308px;
}
}

@media (max-width: 979px){
.carousel-item {
height: 309px;
min-height: 309px;
line-height: 309px;
}
}
@media (max-width: 480px){
.carousel-item {
height: 190px;
min-height: 190px;
line-height: 190px;
}
}
@media (max-width: 320px){
.carousel-item {
height: 140px;
min-height: 140px;
line-height: 140px;
}
}





.detailBodyBOxLeft{
    background: white;
   
    
    border: 1px solid #007bef;
    text-align: center;
    color: #007bff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-decoration: none;
    
}



.searchclass{
    color: black;
    margin:5px;
}

.searchclass > input{
    border: 1px solid #007bef;
    height: 40px;
    width: 70%;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 5px;
}
.searchclass > input:focus{
     border: 1px solid #007bef;
    border-radius: 25px;
}



.bodyBOxLeft a:hover{
    
     text-decoration: none;
    
}

.detailBodyBOxLeft a:hover{
    
     text-decoration: none;
    
}

.bodyBOxRight{
    background: white;
   
    
    border: 1px solid #007bef;
    text-align: center;
     color: #007bff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-decoration: none;
    
}



.bodyBOxRight a:hover{
    
     text-decoration: none;
    
}


.bodyBoxLitem {
   color: #007bff;
   display: block;
   text-decoration: none;
   background: white;
   height: 30px;
   
   text-transform: uppercase;
   
}

.bodyBoxLitem:hover{
    color: white;
   display: block;
   line-height: 30px;
   text-decoration: none;
   background: blue;
}

.gameitem {
   color: white;
   height: 60px;
   padding: 15px 15px;
   margin: 5px 5px;
       
   text-decoration: none;
   background: #2e91fc;
    border-radius: 25px;
   text-transform: uppercase;
   
}
.gameitem:hover{
    color: white;
    background: #007bff;
}

.sellbox{
   
/*    height: 400px;*/
    margin: 20px 20px;
     padding: 15px 15px;
    background: white;
    border-radius: 25px;
    border: 1px solid gray;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-decoration: none;
   
}

.sellbox:hover{
   
}